/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@font-face {
  font-family: stix;
  src: url(STIXTwoText-VariableFont_wght.woff);
}
@font-face {
  font-family: marker;
  src: url(PermanentMarker-Regular.woff);
}

html {
  font-family: stix, serif;
  --restaurant-light: #FAC9B8;
  --restaurant-dark: #2F243A;
  --restaurant-dark-grey: #444054;
  --restaurant-light-grey: #BEBBBB;
  --restaurant-salmon: #DB8A74;
}

body {
  display: grid;
  place-items: center;

  background-color: var(--restaurant-light);
  color: var(--restaurant-light);
}

#content {
  display: grid;
  margin-top: 2rem;
  
  width: clamp(250px, 70vw, 800px);
  background-color: var(--restaurant-dark);
  padding: 2rem;

  border-radius: 2em;
}

#content h1,
#content h2,
#content p,
#content img {
  margin-left: 3rem;
  margin-right: 3rem;
}

#content h1,
#content h2 {
  color: var(--restaurant-light);
  justify-self: center;  
}

#content h1 {
  font-size: 3rem;
}

#content h2 {
  margin-bottom: 1.7rem;
  font-style: italic;
}

#content img {
  width: max(500px, 80%);
  height:auto;
  justify-self: center;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

#content p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.emphasis {
  color: var(--restaurant-salmon);
  font-weight: 600;
  font-style: italic;
  letter-spacing: .05rem;
}

#content .justify-right {
  justify-self: end;
}

#content .sign-off {
  font-size: 2rem;
  margin-bottom: 0;
  font-style: italic;
}

#content .signature {
  font-size: 2.5rem;
  font-family: marker, serif;
  margin-bottom: 0;
}